nat-settings: &nat-settings
    type: nat
    dhcp:
      start: 100
      end: 254
    management: False

vm-common-settings: &vm-common-settings
    root-password: 123456
    service_provider: systemd
    artifacts:
      - /var/log

host-settings: &nodes-settings
    <<: *vm-common-settings
{% if storage_role|default('') == 'storage-glusterfs' %}
    groups: [nodes, glusterfs]
{% else %}
    groups: [nodes]
{% endif %}
    memory: 4096
    disks:
      - template_name: {{ lago_vm_image }}
        type: template
        name: root
        dev: sda
        format: qcow2
      - comment: Docker Storage
        size: 10G
        type: empty
        name: docker_storage
        dev: sdb
        format: raw
      {% if storage_role|default('') == 'storage-glusterfs' -%}
      - comment: Gluster Storage
        size: 50G
        type: empty
        name: gluster_storage
        dev: sdc
        format: qcow2
      {%- endif %}

domains:
  lago-master:
    <<: *vm-common-settings
{% if storage_role|default('') == 'storage-glusterfs' %}
    groups: [masters, nodes, etcd, nfs, glusterfs]
{% else %}
    groups: [masters, nodes, etcd, nfs]
{% endif %}
    memory: 4096
    nics:
      - ip: 192.168.200.2
        net: lago-management-network
    disks:
      - template_name: {{ lago_vm_image }}
        type: template
        name: root
        dev: sda
        format: qcow2
      - comment: Docker Storage
        size: 10G
        type: empty
        name: docker_storage
        dev: sdb
        format: raw
      - comment: Main NFS device
        size: 101G
        type: empty
        name: nfs
        dev: sde
        format: raw
      {% if storage_role|default('') == 'storage-glusterfs' -%}
      - comment: Gluster Storage
        size: 50G
        type: empty
        name: gluster_storage
        dev: sdd
        format: qcow2
      {%- endif %}

  lago-node0:
    <<: *nodes-settings
    nics:
      - ip: 192.168.200.3
        net: lago-management-network

  lago-node1:
    <<: *nodes-settings
    nics:
      - ip: 192.168.200.4
        net: lago-management-network

nets:
  lago-management-network:
    <<: *nat-settings
    management: true
    dns_domain_name: lago.local
    gw: 192.168.200.1
{% if storage_role|default('') == 'storage-glusterfs' %}
    dns_records:
      heketi-storage-glusterfs.cloudapps.example.com: 192.168.200.3
{% endif %}
