---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: rabbitmq
  name: rabbitmq
  namespace: {{ namespace }}
data:
  config.json: |
    {
        "command": "/usr/sbin/rabbitmq-server",
        "config_files": [
            {
                "source": "/var/lib/kolla/config_files/rabbitmq-env.conf",
                "dest": "/etc/rabbitmq/rabbitmq-env.conf",
                "owner": "rabbitmq",
                "perm": "0600"
            },
            {
                "source": "/var/lib/kolla/config_files/rabbitmq.config",
                "dest": "/etc/rabbitmq/rabbitmq.config",
                "owner": "rabbitmq",
                "perm": "0600"
            }
        ],
        "permissions": [
            {
                "path": "/var/lib/rabbitmq",
                "owner": "rabbitmq:rabbitmq",
                "recurse": true
            },
            {
                "path": "/var/log/kolla/rabbitmq",
                "owner": "rabbitmq:rabbitmq",
                "recurse": true
            }
        ]
    }
  rabbitmq-env.conf: |
    NODE_IP_ADDRESS=0.0.0.0
    NODE_PORT=5672
    RABBITMQ_SERVER_ERL_ARGS="+K true +P 1048576 -kernel inet_default_connect_options [{nodelay,true},{raw,6,18,<<5000:64/native>>}] -kernel inet_default_listen_options [{raw,6,18,<<5000:64/native>>}]"
  rabbitmq.config: |
    [
      {rabbit, [
        {tcp_listen_options, [binary, {packet, raw}, {reuseaddr, true}, {backlog, 128}, {nodelay, true}, {exit_on_close, false}, {keepalive, true}]},

        {loopback_users, []},

        {cluster_partition_handling, pause_minority},

        {queue_master_locator, <<"min-masters">>},

        {default_user, <<"{{rabbitmq_user}}">>},
        {default_pass, <<"{{rabbitmq_password}}">>}
      ]},
      {kernel, [
        {inet_dist_listen_min, 25672},
        {inet_dist_listen_max, 25672}    ]},
      {rabbitmq_management, [
        {listener, [
          {port, 15672},
          {ip, "0.0.0.0"}
        ]}
      ]}
    ].
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: {{ namespace }}
spec:
  ports:
  - name: epmd
    port: 4369
    protocol: TCP
    targetPort: 4369
  - name: amqp
    port: 5672
    protocol: TCP
    targetPort: 5672
  - name: comm
    port: 25672
    protocol: TCP
    targetPort: 25672
  selector:
    app: rabbitmq
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  serviceName: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - env:
        - name: TZ
          value: UTC
        - name: KOLLA_CONFIG_STRATEGY
          value: COPY_ALWAYS
        - name: KOLLA_KUBERNETES
        image:  tripleomaster/centos-binary-rabbitmq:current-tripleo
        imagePullPolicy: "IfNotPresent"
        name: rabbitmq
        ports:
        - containerPort: 5672
          name: rabbitmq
          protocol: TCP
        - containerPort: 15672
          name: rabbitmq-mgmt
          protocol: TCP
        volumeMounts:
        - mountPath: /var/lib/kolla/config_files/
          name: kolla-config
      restartPolicy: Always
      serviceAccount: {{service_account}}
      serviceAccountName: {{service_account}}
      volumes:
      - configMap:
          name: rabbitmq
        name: kolla-config
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: {{ namespace }}
spec:
  ports:
  - port: 3306
  selector:
    app: mariadb
  clusterIP: None
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: {{ namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  serviceName: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - image: mariadb
        name: mariadb
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: {{ mariadb_root_password }}
        ports:
        - containerPort: 3306
          name: mariadb
        volumeMounts:
        - name: mariadb-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mariadb-persistent-storage


# Cinder
---
apiVersion: v1
kind: Service
metadata:
  name: cinder
  namespace: {{ namespace }}
spec:
  ports:
  - port: 8776
  selector:
    app: cinder
  clusterIP: None
