apiVersion: v1
kind: Service
metadata:
  name: mariadb
spec:
  ports:
  - port: 3306
  selector:
    app: mariadb
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: mariadb
spec:
  selector:
    matchLabels:
      app: mariadb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mariadb
    node_selector:
      "{{ infra_node_label }}": "true"
    spec:
      serviceAccount:  "{{ privileged_service_account }""
      containers:
      - image: mariadb
        name: mariadb
        securityContext:
          privileged: true
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "{{ mariadb_root_password }}"
        ports:
        - containerPort: 3306
          name: mariadb
        volumeMounts:
        - name: mariadb-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mariadb-persistent-storage
        hostPath:
          path: /var/lib/storage-cinder-mariadb-datadir
          type: Directory

