master_ip="{{ hostvars[groups["masters"][0]]["ansible_default_ipv4"]["address"] }}"
primary_nic="{{ hostvars[groups["masters"][0]]["ansible_default_ipv4"]["interface"] }}"
primary_node_name="{{ hostvars[groups["masters"][0]]["ansible_fqdn"] }}"
